@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f8fa;
  font-family: "Raleway", sans-serif;
  color: #636b6f;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
}

#app {
  height: 100%;
}

