*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin      : 0;
  font-family : sans-serif;
  background: $body-bg;
  font-family: $font-family-sans-serif;
  color: $text-color;
  height: 100%;
}

img {
  max-width : 100%;
  height    : auto;
}

a {
  text-decoration : none;

  &:hover { text-decoration : underline }
}

p {
  font-size: $font-size-base;
}